*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body{
    /* background: linear-gradient(90deg, rgba(0, 0, 28, 1), rgba(23, 40, 249, 1)); */
    background-color: rgb(31, 31, 31);
}

.body img{
    width: 8rem;
}

/* @media (max-width: 768px){
    .body{
        display: flex;
        justify-content: center;
        margin-top: 40vh;
    }
} */

/* index.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgb(9, 6, 0), rgb(31, 31, 31));
}

